/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: white;
  margin: 0;
  z-index: 10;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky+main {
  padding-top: 100px;
}


.nav-list {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  margin: 0;
}

.nav-list li {
  margin: 0 40px;
  opacity: 0.6;
  cursor: pointer;
}


.nav-list li:hover {
  opacity: 1;
}

.toggleMenuButton {
  display: none;
}


@media (max-width: 768px) {
  .sticky {
    background: #2eca7f;
    color: white;
  }

  header {
    background: #2eca7f;
    color: white;
  }

  .block-title span {
    color: white !important;
  }

  .nav-list {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #2eca7f;
    color: white;  
    z-index: 2;
    transition: right 0.3s ease-in-out;
  }

  .toggleMenuButton {
    display: block;
    font-size: 30px;
    z-index: 10;
  }

  .display {
    right: 0;
  }
}